:root 
{
    --primary-text-color:#2E2F42; #FFFFFF,
    --secondary-text-color 
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
 background-color: #FFF;}
a {
    text-decoration:none;}
.list {
    padding: 0;
    list-style:none;
}
.link {
    text-decoration:none;
}
/*header*/

.site-hed
.logo {
font-family:"Raleway",sans-serif;
color: var(--NAVY-BLUE, #2E2F42);#4d5ae,
font-size 18 px;
font-weight:700;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
color: #4d5ae5}
.span {
    color: #2e2f42 ;
}
.efect-section {
    background-color:#2e2f42 ;
}
.efect-tile {
    font-size: 56px ;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em ;
    color: #ffffff ;
}
.button {
    background: var(--IRIS,  #4D5AE5);
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.04em;
    color: #ffffff ;
    cursor:pointer;
    .button:hover {background-color: #404BBF};
    .button:focus {color: #404bbf};
    }  
.title-advert{
    font-weight: 500;
    font-size: 20px ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    color: #2e2f42 ;
}
.content {
    
}
.nav.link { 
/* Body Medium */
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.nav.link:hover,
.nav.link:focus {
color:orange;
}
/* Header 1 */
.site-hed {
background-color: #2e2f42
font-family "Roboto";
font-size:56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
}

.title-2 
{
color: var(--NAVY-BLUE,#2E2F42);
text-align: center;
font-size: 56px;
font-weight: 500;
font-size: 20px ;
line-height: 1.2 ;
letter-spacing: 0.02em;
line-height: 1.07;
text-align:

/* Header 2 */
font-family "Roboto";
font-size:36px;
font-style:normal;
font-weight:700;
line-height:1.11 
line-height 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform:capitalize;
}
.title-3 {
    color: var(--NAVY-BLUE, #2E2F42);

/* Header 3 */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.content {
color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

/*footer*/
background-color :#2e2f42,
font-family "Raleway",sans-serif;
line-height :1.17px;
letter-spacing: 0.03em;
text-transform: uppercase 
color: #4d5ae5;