
:root 
{
    --primary-text-color:#2E2F42; #FFFFFF,
    --secondary-text-color 
}
body {
font-family: "Roboto", sans-serif;
color: #434455;
 background-color: #FFF;}
a {
    text-decoration:none;}
.list {

    list-style:none;
}
.link {
    text-decoration:none;
}
/*header*/
.nav-list {

}
.logo-web{
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway",sans-serif;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-studio-hed{
   color: #2e2f42 ;
    font-family: Raleway, sans-serif;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;}
.nav-contact{
    color: #2E2F42;}
.nav-contact:hover{
   color: #404bbf; }
.nav-contact:focus {
color:#404bbf;
   }
   .nav-contact{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.address {font-style: normal;}

.nav-address{
    color: #434455;}
.nav-address:hover{
   color: #404bbf 
}
.nav-address:focus {
    color:#404bbf;
}
.addres-link{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
/*body*/
.efect-section{
    background-color: #2e2f42;
}
.efect-title{
    color: #ffffff ;
    font-size: 56px;
    line-height: 1.07 ;
    text-align: center;
    letter-spacing: 0.02em; 
}
.button{
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff ;}
.button:hover {
    background-color: #404BBF ;
}
.button:focus {
    background-color:#404BBF ;
}
.title-advert {
    color:000000;
    font-size: 16px ;
    line-height: 1.5;
}
.advert-item {  

}
.title-3 {
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.content{
   color: #434455 ;
   line-height: 1.5 ;
   letter-spacing: 0.02em;
}
.employess{
    background-color: #F4F4FD;
}
.title-empl {
color:#2e2f42;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.11;
font-size: 36px;
}
.empl-item {
    background-color: #FFFFFF ;
}
.empl-link{
    background-color: #FFFFFF;
}
.title-3 {
color: #2e2f42;
letter-spacing: 0.02em;
line-height: 1.2 ;
font-size: 20px ;
font-weight: 500;
}
.portfolio {

}
.title-port {
color:#2e2f42;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.11;
font-size: 36px;
}
.title-three{
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
}
.content {
   color: #434455 ; 
   line-height: 1.5 ;
   letter-spacing: 0.02em;

}
/*footer*/
.site-foot{
   background-color: #2e2f42 ;  
}
.logo-web{
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway" sans-serif;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-studio {
    color: #f4f4fd;
    font-family: "Raleway",sans-serif;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.content-foot {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    letter-spacing: 0.02em;
}
